*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#animate-for-css {
  animation: zoomIn 3s;
}

@keyframes zoomIn {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
 
#main-btn1{
      animation: btn1 2s ease-in-out forwards;
      transform: translate(-120%);
}
  
 @keyframes btn1{
  100%{
    transform: translate(0);
  }
 }
 #main-btn2{
  animation: btn1 2s ease-in-out forwards;
  transform: translate(120%);
}

@keyframes btn2{
100%{
transform: translate(0);
}
}
  .main-div h4{
    animation: down 2s ease-in-out ;
    transform: translateY(0%);
  }
  @keyframes down{
    0%{
      transform:translateY(-200%);
      opacity: 0;
    }
   100%{
    transform: translateY(-0%);
    opacity: 1;
   }
  }
  /* ####################### main background image ############################### */
  #bk-img-main{
    background:linear-gradient(rgba(6,6,6,0.7),rgba(7,7,7,0.6)), url(./images/office.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  


  
  
 /* #################################### hover affect list ################################### */
.list-show{
  display: none;
}
.pages:hover .list-show{
  display: block;
}
.blog:hover .list-show{
  display: block;
}

/* ############################# utility class #################################### */

  .margin-top{
   top: 90%;
  }
  
  .margin-top1{
    top: 100%;
   }

   /* ################### services section style buttons ##################### */
  /* .btn{
     display: none;
  } */

  .img-content{
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    z-index: 2;
    opacity: 0;
    transition: all 1s ease-in-out ;

}

  
  .img-container::after{
    content: " ";
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.812);
     transform: scaleY(0);
     transform-origin: 100% 100%;
     transition: all o.3s ease-in-out;

}
.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);

}

.img-container:hover .img-content{
    opacity: 1;
    /* z-index: 2; */
   top: 40%;
}
  




